<%- include("_header") -%>

<h1>List of items</h1>

<ul>

  <% for (const Products of model) { %>
    <li>
      <%= Products.Name %>
      <em>(<%= Products.Product_ID %>)</em>
      <em>(<%= Products.Price %>)</em>
     
    </li>
  <% } %>

</ul>

<%- include("_footer") -%>